a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:aqua;

}

.border{
    box-shadow: 5px 5px 10px 5px gray;
    width: 990px;
}
 #oninebankingsystem{
    width: 1000px;
 }